pdfToJson/n8n/n8n_workflows/2lPnK05pMQgyZ2Up.json
{
  "createdAt": "2025-07-11T20:53:07.581Z",
  "updatedAt": "2025-07-11T20:53:07.581Z",
  "id": "2lPnK05pMQgyZ2Up",
  "name": "WIP_ALLPdfToJson copy",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MBU788enjpjn17oX",
          "mode": "list",
          "cachedResultName": "configReader"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -660,
        180
      ],
      "name": "Call configReader",
      "id": "b759bed5-df82-4f0b-80b9-22c08560152a"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -140,
        180
      ],
      "id": "556823ea-521a-4d2e-8fd2-e15d09ca011a",
      "name": "Loop over PDFs"
    },
    {
      "parameters": {
        "fileSelector": "=/io/{{ $json.data.pdfsDir }}/*.pdf",
        "options": {
          "fileExtension": "pdf"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -420,
        180
      ],
      "id": "c2f46ce7-87fe-4ec0-9d0d-90d125f6ec66",
      "name": "Read PDFs from Dir"
    },
    {
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        820,
        280
      ],
      "id": "6ec9a3c5-6cb5-42a4-b07c-ad911ed4a82e",
      "name": "Loop Over chunks"
    },
    {
      "parameters": {
        "fileSelector": "=/io/{{ $('compact pdf infos').item.json.config.pdfsDir }}/{{ $('compact pdf infos').item.json.pdf.fileName }}_chunked/*.pdf",
        "options": {
          "mimeType": "application/pdf"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        560,
        280
      ],
      "id": "d3c4100b-c561-47b2-9366-0004ad82cc7e",
      "name": "Read chunks"
    },
    {
      "parameters": {
        "command": "=python --version && pip --version && pip list &&\\\ncd /io &&\\\nsource exec-chunker.sh --file=\"./{{ $json.config.pdfsDir }}/{{ $json.pdf.fileName }}\" --regex=\"{{ $json.config.regexOverToc }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        340,
        280
      ],
      "id": "e37be4be-f367-433f-82f8-a9fb5701a5e4",
      "name": "Execute chunker"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        180
      ],
      "id": "06503f24-5874-4892-8180-c1b4cdeb31cb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return {config: $('Call configReader').first().json.data, pdf: $input.first()}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        380
      ],
      "id": "2518deb8-38fb-4865-966a-3c3d07a50f72",
      "name": "compact chunk infos",
      "notes": "this is needed, because the next steps cant access only the loop pdf data ..."
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1040,
        120
      ],
      "id": "5a021b7f-c3e5-480f-b8ee-35f211407e12",
      "name": "Aggregate JSON chunks"
    },
    {
      "parameters": {
        "jsCode": "return {config: $('Call configReader').first().json.data, pdf: $input.first().json}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        280
      ],
      "id": "b2d2bdcc-cbc3-4be5-9399-0d32d3f4041d",
      "name": "compact pdf infos",
      "notes": "this is needed, because the next steps cant access only the loop pdf data ..."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LuvurLCz98QFlPWc",
          "mode": "list",
          "cachedResultName": "promptReader"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "config_extractionPromptPath": "={{ $json.config.extractionPromptPath }}"
          },
          "matchingColumns": [
            "config_extractionPromptPath"
          ],
          "schema": [
            {
              "id": "config_extractionPromptPath",
              "displayName": "config_extractionPromptPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1460,
        380
      ],
      "name": "Call promptReader extract",
      "id": "c5207dbe-6ce0-40ec-8ad1-077097045beb"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"status\": \"llm_error\",\n  \"message\": \"LLM 1 response status code is not 200. Message: {{$data.statusMessage}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2120,
        560
      ],
      "id": "2a98795d-d782-41db-a61e-322afd639aa4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('compact chunk infos').item.json.pdf.binary.data.directory }}/{{ $('compact chunk infos').item.json.pdf.binary.data.fileName }}.error.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2740,
        560
      ],
      "id": "0f068416-184e-4df1-b1c6-1bb70b0e3e03",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2560,
        560
      ],
      "id": "e83b965e-84e0-441d-8be4-a62ab28d5c2e",
      "name": "llm1 error to json"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LuvurLCz98QFlPWc",
          "mode": "list",
          "cachedResultName": "promptReader"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "config_extractionPromptPath": "={{ $('compact chunk infos').item.json.config.validationPromptPath }}"
          },
          "matchingColumns": [
            "config_extractionPromptPath"
          ],
          "schema": [
            {
              "id": "config_extractionPromptPath",
              "displayName": "config_extractionPromptPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3300,
        380
      ],
      "name": "Call promptReader validate",
      "id": "c5185030-d171-4b26-80fd-c136a509d25e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Content-Type\": \"application/json\",\n  \"x-api-key\": \"{{ $('compact chunk infos').item.json.config.anthropic.key }}\",\n  \"anthropic-version\": \"2023-06-01\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $('compact chunk infos').item.json.config.anthropic.model }}\",\n  \"max_tokens\": {{ $('compact chunk infos').item.json.config.anthropic.maxTokens }},\n  \"temperature\": {{ $('compact chunk infos').item.json.config.anthropic.temperature }},\n  \"system\": {{ $json.data }},\n  \"messages\": [{        \n    \"role\": \"user\",\n    \"content\": [{\n      \"type\": \"document\",\n      \"source\": {\n        \"type\": \"base64\",\n        \"media_type\": \"application/pdf\",\n        \"data\": \"{{ $('compact chunk infos').item.json.pdf.binary.data.data }}\"\n      }\n    }]\n  }]\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "d436a1f6-090f-4a2d-b834-e08d78372f96",
      "name": "Call Claude Extracting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Content-Type\": \"application/json\",\n  \"x-api-key\": \"{{ $('compact chunk infos').item.json.config.anthropic.key }}\",\n  \"anthropic-version\": \"2023-06-01\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $('compact chunk infos').item.json.config.anthropic.model }}\",\n  \"max_tokens\": {{ $('compact chunk infos').item.json.config.anthropic.maxTokens }},\n  \"temperature\": {{ $('compact chunk infos').item.json.config.anthropic.temperature }},\n  \"system\": {{ $json.data }},\n  \"messages\": [{        \n    \"role\": \"user\",\n    \"content\": [\n      {\n        \"type\": \"document\",\n        \"source\": {\n          \"type\": \"base64\",\n          \"media_type\": \"application/pdf\",\n          \"data\": \"{{ $('compact chunk infos').item.json.pdf.binary.data.data }}\"\n        }\n      },\n      {\n        \"type\": \"text\",\n        \"text\": {{ $('stringified json').item.json.data}}\n      }\n    ]\n  }],\n  \"thinking\": {\n    \"type\": \"enabled\",\n    \"budget_tokens\": 16000\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "96f26f38-aa61-42bf-b7d8-04f8402d1186",
      "name": "Call Claude Validating",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3520,
        380
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"status\": \"llm_error\",\n  \"message\": \"LLM 2 response status code is not 200. Message: {{$data.statusMessage}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3960,
        600
      ],
      "id": "c934b62c-ade6-4eb0-9353-9037eb785847",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4180,
        600
      ],
      "id": "897eba3b-84ba-498d-bca1-751443baa8b2",
      "name": "llm2 error to json"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('compact chunk infos').item.json.pdf.binary.data.directory }}/{{ $('compact chunk infos').item.json.pdf.binary.data.fileName }}.error.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        4380,
        600
      ],
      "id": "0bf7014c-8913-4c08-9d88-7cba200702a3",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('compact chunk infos').item.json.pdf.binary.data.directory }}/{{ $('compact chunk infos').item.json.pdf.binary.data.fileName }}.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        4580,
        380
      ],
      "id": "1b69f31b-67e0-4282-a642-8f65bb2d7605",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "jsCode": "const response = JSON.parse($input.first().json.data);\nconst result = response?.content || []\n\n/**\n * extract the json from the response text if the llm has desided to write more the nonly the json...\n * \n * @param {string} str \n * @returns {string|null}\n */\nfunction extractJson(str) {\n  const match = str.match(/{[\\s\\S]*}/);\n  if (match) {\n    try {\n      return JSON.parse(match[0]);\n    } catch (e) {\n      return null; // Invalid JSON\n    }\n  }\n  return null; // No JSON found\n}\n\n// first is thinking text, secound is response text\nconst json = extractJson(result[1]?.text || \"\")\n\nif (!json) {\n  return {data: {status:\"failed\", message: \"LLM 2 response is incorrect\"}, original: result[1]?.text, thinking: result[0]?.text};\n}\n\nreturn {data: json, original: result[1]?.text};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3960,
        380
      ],
      "id": "017fbbba-66d0-437b-8ebf-1ebb135de135",
      "name": "parse response validation"
    },
    {
      "parameters": {
        "jsCode": "const response = JSON.parse($input.first().json.data);\nconst result = response?.content || []\n\n/**\n * extract the json from the response text if the llm has desided to write more the nonly the json...\n * \n * @param {string} str \n * @returns {string|null}\n */\nfunction extractJson(str) {\n  const match = str.match(/{[\\s\\S]*}/);\n  if (match) {\n    try {\n      return JSON.parse(match[0]);\n    } catch (e) {\n      return null; // Invalid JSON\n    }\n  }\n  return null; // No JSON found\n}\n\n// first is awnser text. if thinking is enables, then secound is awnser.\nconst json = extractJson(result[0]?.text)\n\nif (!json) {\n  return {data: {status:\"failed\", message: \"LLM 1 response is incorrect\"}, original: result[0]?.text};\n}\n\nreturn {data: json, original: result[0]?.text};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        380
      ],
      "id": "71e7e840-a566-428f-b8d2-4e2438c3582d",
      "name": "parse response extraction"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"status\": \"success\",\n  \"extraction\": {{ $('parse response extraction').item.json }},\n  \"validation\": {{ $json }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4180,
        380
      ],
      "id": "e5fc3b3a-67bc-4a1a-b197-c907801197cd",
      "name": "create success json"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4380,
        380
      ],
      "id": "078daece-eb0f-46c1-871d-d3e4fa043ad7",
      "name": "success json to binary"
    },
    {
      "parameters": {
        "jsCode": "return {data: JSON.stringify(JSON.stringify($('parse response extraction').first().json.data))}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        380
      ],
      "id": "8bda842b-f065-4e0b-9310-8bc6f60829bd",
      "name": "stringified json"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8166e81f-065f-4c2a-9600-1c2d27b8d51a",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1880,
        380
      ],
      "id": "0be85b7c-bd23-4f2f-a822-9577c5ffe0cb",
      "name": "If code 200"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e4a4e48e-6e20-4ecd-8416-547697d55afe",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "found",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2340,
        380
      ],
      "id": "d28ded0b-e739-4bb6-a325-8e99a866c45f",
      "name": "If status found"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8166e81f-065f-4c2a-9600-1c2d27b8d51a",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3720,
        380
      ],
      "id": "b964153c-7c44-4dd3-8901-57266a44421a",
      "name": "If2 code 200"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('create success json').item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4820,
        640
      ],
      "id": "57b5616c-796d-4795-b393-883d77e403cc",
      "name": "return json content seccess"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('Edit Fields1').item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4580,
        600
      ],
      "id": "6384aaf9-f042-484d-b76b-ead819ec325d",
      "name": "return llm2 error json"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('Edit Fields').item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2940,
        560
      ],
      "id": "ac2e6a94-9855-481c-aa36-2f3632c47edd",
      "name": "return llm1 error json"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1460,
        120
      ],
      "id": "e40349b9-0177-4e1e-a98e-f3c18b68ebfc",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/io/{{ $('compact pdf infos').last().json.config.pdfsDir }}/{{ $('compact pdf infos').last().json.pdf.fileName }}.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1460,
        -80
      ],
      "id": "ad380f19-3767-49d1-b432-2649cdfa3c75",
      "name": "Read/Write Files from Disk3"
    },
    {
      "parameters": {
        "command": "=curl -H \"Content-Type: application/json\" -d '{\"username\": \"n8n_csh_workflow\", \"content\": \"Executed Workflow finished. Generated {{ $json.data.keys().length }} compacted JSON files from the PDFs. \"}' \"{{$('Call configReader1').item.json.data.discord.webhookUrl}}\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        580,
        -220
      ],
      "id": "043d34cb-2ee9-4763-9bed-6372071592a5",
      "name": "send discord msg"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MBU788enjpjn17oX",
          "mode": "list",
          "cachedResultName": "configReader"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        120,
        120
      ],
      "name": "Call configReader1",
      "id": "d23c86e9-e4fe-4b9f-85d8-6f2cdbbb97d6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "db62c723-e6a3-4eac-9143-f2d76d5843f1",
              "leftValue": "={{ $('Call configReader1').item.json.data.discord.enabled }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        340,
        120
      ],
      "id": "435944d4-3afb-4310-88f8-aa2fcf924064",
      "name": "if Discord enabled"
    },
    {
      "parameters": {
        "jsCode": "// remove last item. On loop, this is the pdf and no tthe json reult.\nreturn {data: $input.first().json};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        120
      ],
      "id": "d9429cfe-6fed-40da-89de-98853f5cfd67",
      "name": "prepare pdf json"
    }
  ],
  "connections": {
    "Call configReader": {
      "main": [
        [
          {
            "node": "Read PDFs from Dir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over PDFs": {
      "main": [
        [
          {
            "node": "Call configReader1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "compact pdf infos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PDFs from Dir": {
      "main": [
        [
          {
            "node": "Loop over PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over chunks": {
      "main": [
        [
          {
            "node": "Aggregate JSON chunks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "compact chunk infos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read chunks": {
      "main": [
        [
          {
            "node": "Loop Over chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute chunker": {
      "main": [
        [
          {
            "node": "Read chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Call configReader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compact chunk infos": {
      "main": [
        [
          {
            "node": "Call promptReader extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compact pdf infos": {
      "main": [
        [
          {
            "node": "Execute chunker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call promptReader extract": {
      "main": [
        [
          {
            "node": "Call Claude Extracting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "llm1 error to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "llm1 error to json": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "return llm1 error json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call promptReader validate": {
      "main": [
        [
          {
            "node": "Call Claude Validating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude Extracting": {
      "main": [
        [
          {
            "node": "If code 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude Validating": {
      "main": [
        [
          {
            "node": "If2 code 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "llm2 error to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "llm2 error to json": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "return llm2 error json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "return json content seccess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse response validation": {
      "main": [
        [
          {
            "node": "create success json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse response extraction": {
      "main": [
        [
          {
            "node": "If status found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create success json": {
      "main": [
        [
          {
            "node": "success json to binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "success json to binary": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stringified json": {
      "main": [
        [
          {
            "node": "Call promptReader validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If code 200": {
      "main": [
        [
          {
            "node": "parse response extraction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If status found": {
      "main": [
        [
          {
            "node": "stringified json",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "llm1 error to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2 code 200": {
      "main": [
        [
          {
            "node": "parse response validation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return json content seccess": {
      "main": [
        [
          {
            "node": "Loop Over chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return llm2 error json": {
      "main": [
        [
          {
            "node": "Loop Over chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return llm1 error json": {
      "main": [
        [
          {
            "node": "Loop Over chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate JSON chunks": {
      "main": [
        [
          {
            "node": "prepare pdf json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk3": {
      "main": [
        [
          {
            "node": "Loop over PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call configReader1": {
      "main": [
        [
          {
            "node": "if Discord enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if Discord enabled": {
      "main": [
        [
          {
            "node": "send discord msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare pdf json": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e87a78cd-1eaf-4b4f-bb31-685438bae520",
  "triggerCount": 0,
  "tags": []
}