pdfToJson/n8n/n8n_workflows/EebXZXyBfDjIZKcE.json
{
  "createdAt": "2025-07-13T07:04:39.958Z",
  "updatedAt": "2025-07-13T07:54:54.000Z",
  "id": "EebXZXyBfDjIZKcE",
  "name": "onePDF-1-execChunker",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MBU788enjpjn17oX",
          "mode": "list",
          "cachedResultName": "configReader"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -416,
        192
      ],
      "name": "Call configReader",
      "id": "969f6a6d-3571-40ad-aa1c-2ee1d1d622ff"
    },
    {
      "parameters": {
        "fileSelector": "=/io/{{ $json.data.pdfsDir }}/*.pdf",
        "options": {
          "fileExtension": "pdf"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -208,
        192
      ],
      "id": "6ae7a238-0037-4dd7-a073-4501049edf42",
      "name": "Read PDFs from Dir"
    },
    {
      "parameters": {
        "command": "=python --version && pip --version && pip list &&\\\ncd /io &&\\\nsource exec-chunker.sh --file=\"./{{ $json.config.pdfsDir }}/{{ $json.pdf.fileName }}\" --regex=\"{{ $json.config.regexOverToc }}\" --start=\"{{ $json.config.startChunkCountBy }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        192,
        192
      ],
      "id": "ae1d4856-bf20-4bee-87c2-e19a40265bbf",
      "name": "Execute chunker"
    },
    {
      "parameters": {
        "jsCode": "return {config: $('Call configReader').first().json.data, pdf: $input.first().json}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        192
      ],
      "id": "171448d4-e35a-42d1-803f-08235784e08b",
      "name": "compact pdf infos",
      "notes": "this is needed, because the next steps cant access only the loop pdf data ..."
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -640,
        192
      ],
      "id": "3eb8ee3d-61e8-483c-8bae-4baabb2f8134",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "command": "=curl -H \"Content-Type: application/json\" -d '{\"username\": \"n8n_csh_workflow\", \"content\": \"[PDF -> Chunks]\"}' \"{{$('Call configReader').item.json.data.discord.webhookUrl}}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        624,
        48
      ],
      "id": "1540f19b-8870-480e-a2d6-e425ae77a935",
      "name": "send discord msg",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "db62c723-e6a3-4eac-9143-f2d76d5843f1",
              "leftValue": "={{ $('Call configReader').item.json.data.discord.enabled }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        192
      ],
      "id": "2e362510-4cc6-48b8-8309-0c494d4280d8",
      "name": "if Discord enabled",
      "disabled": true
    }
  ],
  "connections": {
    "Call configReader": {
      "main": [
        [
          {
            "node": "Read PDFs from Dir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PDFs from Dir": {
      "main": [
        [
          {
            "node": "compact pdf infos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compact pdf infos": {
      "main": [
        [
          {
            "node": "Execute chunker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute chunker": {
      "main": [
        [
          {
            "node": "if Discord enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Call configReader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if Discord enabled": {
      "main": [
        [
          {
            "node": "send discord msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f7564a69-5c52-43a4-8788-ebd7218635be",
  "triggerCount": 0,
  "tags": []
}