pdfToJson/n8n/n8n_workflows/EebXZXyBfDjIZKcE.json
{
  "createdAt": "2025-07-13T07:04:39.958Z",
  "updatedAt": "2025-07-13T07:21:14.000Z",
  "id": "EebXZXyBfDjIZKcE",
  "name": "onePDF-1-execChunker",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MBU788enjpjn17oX",
          "mode": "list",
          "cachedResultName": "configReader"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -416,
        192
      ],
      "name": "Call configReader",
      "id": "969f6a6d-3571-40ad-aa1c-2ee1d1d622ff"
    },
    {
      "parameters": {
        "fileSelector": "=/io/{{ $json.data.pdfsDir }}/*.pdf",
        "options": {
          "fileExtension": "pdf"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -208,
        192
      ],
      "id": "6ae7a238-0037-4dd7-a073-4501049edf42",
      "name": "Read PDFs from Dir"
    },
    {
      "parameters": {
        "command": "=python --version && pip --version && pip list &&\\\ncd /io &&\\\nsource exec-chunker.sh --file=\"./{{ $json.config.pdfsDir }}/{{ $json.pdf.fileName }}\" --regex=\"{{ $json.config.regexOverToc }}\" --start=\"{{ $json.config.startChunkCountBy }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        192,
        192
      ],
      "id": "ae1d4856-bf20-4bee-87c2-e19a40265bbf",
      "name": "Execute chunker"
    },
    {
      "parameters": {
        "jsCode": "return {config: $('Call configReader').first().json.data, pdf: $input.first().json}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        192
      ],
      "id": "171448d4-e35a-42d1-803f-08235784e08b",
      "name": "compact pdf infos",
      "notes": "this is needed, because the next steps cant access only the loop pdf data ..."
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -640,
        192
      ],
      "id": "3eb8ee3d-61e8-483c-8bae-4baabb2f8134",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Call configReader": {
      "main": [
        [
          {
            "node": "Read PDFs from Dir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PDFs from Dir": {
      "main": [
        [
          {
            "node": "compact pdf infos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compact pdf infos": {
      "main": [
        [
          {
            "node": "Execute chunker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute chunker": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Call configReader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4627d4d5-b2af-416a-8bb5-246b80ff46ad",
  "triggerCount": 0,
  "tags": []
}