pdfToJson/n8n/n8n_workflows/mJxoX6domJJhzpPn.json
{
  "createdAt": "2025-07-08T21:22:15.948Z",
  "updatedAt": "2025-07-11T20:52:32.000Z",
  "id": "mJxoX6domJJhzpPn",
  "name": "SinglePdfToJson",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/io/out/{{ $('Start').item.json.fileName }}.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2020,
        220
      ],
      "id": "54f84834-b7ba-48ff-bf8b-aa23873b35eb",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "body.content[0].text",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1820,
        220
      ],
      "id": "d196635f-e52f-4fd8-9498-c5ee77821c9d",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1380,
        220
      ],
      "id": "e93b426e-7b38-461a-a96a-80dc7cc6a877",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Start').item.json.config_anthropic }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"claude-sonnet-4-20250514\",\n    \"max_tokens\": 20000,\n    \"temperature\": 1,\n    \"messages\": [{\n        \"role\": \"user\",\n        \"content\": [{\n            \"type\": \"document\",\n            \"source\": {\n                \"type\": \"base64\",\n                \"media_type\": \"application/pdf\",\n                \"data\": \"{{ $json.data }}\"\n            }\n        },\n        {\n            \"type\": \"text\",\n            \"text\": \"Extract a table of content from the document. use markdown to outpu tthe table of content. return only the tabel of content.\"\n        }]\n    }]\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "9ddb6e20-5f5c-4091-bf8a-b18c7105f4ce",
      "name": "Call Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        220
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1180,
        140
      ],
      "id": "245fb4b0-0589-4df9-893e-8ca8dc852d19",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "command": "=cd /io &&\\\nsh exec-shunker.sh --path=\"{{ $json.config.pdfsDir }}/{{ $json.fileName }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        980,
        -340
      ],
      "id": "81f13801-1886-4d69-8fa0-675c890024c2",
      "name": "Execute chunker"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1420,
        -360
      ],
      "id": "32fb38a6-d79d-43ca-987c-5c7829e73614",
      "name": "Loop Over chunks"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1200,
        -340
      ],
      "id": "bacc3305-0740-40b5-ac12-a8a10dc47342",
      "name": "Read chunks"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1860,
        -420
      ],
      "id": "5d2f3f31-4bbd-4f08-b15e-1fb25837c8a8",
      "name": "Aggregate JSON chunks"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "config",
              "type": "object"
            },
            {
              "name": "fileName"
            }
          ]
        }
      },
      "id": "f96ef235-dc99-4452-9fb1-413fd1d833ff",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        540,
        -340
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "TODO CALL AI AGENTS",
      "typeVersion": 1,
      "position": [
        1640,
        -280
      ],
      "id": "417285f9-2516-49fa-bf15-13bf4dc48f6e"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MBU788enjpjn17oX",
          "mode": "list",
          "cachedResultName": "configReader"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        740,
        -520
      ],
      "name": "Call configReader",
      "id": "5f521923-44f9-4b18-9b0e-b21eea7bc024"
    },
    {
      "parameters": {
        "mode": "raw",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        -520
      ],
      "id": "e64e68c8-3903-46e3-87b1-835a3b5bc2b8",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Call Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute chunker": {
      "main": [
        [
          {
            "node": "Read chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over chunks": {
      "main": [
        [
          {
            "node": "Aggregate JSON chunks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TODO CALL AI AGENTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read chunks": {
      "main": [
        [
          {
            "node": "Loop Over chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate JSON chunks": {
      "main": [
        []
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Execute chunker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TODO CALL AI AGENTS": {
      "main": [
        [
          {
            "node": "Loop Over chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call configReader": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9e0e616d-5bc4-4282-85c5-896284cf6a30",
  "triggerCount": 0,
  "tags": []
}