pdfToJson/n8n/n8n_workflows/YFVaL0WCc0qoW8Nn.json
{
  "createdAt": "2025-07-08T19:16:24.364Z",
  "updatedAt": "2025-07-13T07:30:08.000Z",
  "id": "YFVaL0WCc0qoW8Nn",
  "name": "OnePdf-2-ChunksToJson",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1648,
        384
      ],
      "id": "a5d663d3-622a-4a6e-8141-385d3ba8192e",
      "name": "Loop Over chunks"
    },
    {
      "parameters": {
        "fileSelector": "=/io/{{ $('compact config').item.json.config.pdfsDir }}/{{ $('compact config').item.json.pdf.fileName }}_chunked/*.pdf",
        "options": {
          "mimeType": "application/pdf"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1376,
        384
      ],
      "id": "2f687cd8-62ed-4d3a-a007-4523b5005d38",
      "name": "Read chunks"
    },
    {
      "parameters": {
        "jsCode": "return {config: $('compact config').first().json.config, pdf: $input.first()}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        384
      ],
      "id": "22a61425-f74b-432f-abd0-7961550e71b4",
      "name": "compact chunk infos",
      "notes": "this is needed, because the next steps cant access only the loop pdf data ..."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LuvurLCz98QFlPWc",
          "mode": "list",
          "cachedResultName": "promptReader"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "config_extractionPromptPath": "={{ $json.config.extractionPromptPath }}"
          },
          "matchingColumns": [
            "config_extractionPromptPath"
          ],
          "schema": [
            {
              "id": "config_extractionPromptPath",
              "displayName": "config_extractionPromptPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2096,
        384
      ],
      "name": "Call promptReader extract",
      "id": "4299dc34-4201-40eb-9ada-520905514277"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"status\": \"llm_error\",\n  \"message\": \"LLM 1 response status code is not 200. Message: {{$data.statusMessage}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2768,
        560
      ],
      "id": "7a4e385d-6c3d-45b4-a1f4-ae1876b678c8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('compact chunk infos').item.json.pdf.binary.data.directory }}/{{ $('compact chunk infos').item.json.pdf.binary.data.fileName }}.error.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3632,
        560
      ],
      "id": "a9f80d53-788f-4878-b074-387aed2900ec",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3408,
        560
      ],
      "id": "a1bb40fa-5548-4cf0-a749-d6abe11b1754",
      "name": "llm1 error to json"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LuvurLCz98QFlPWc",
          "mode": "list",
          "cachedResultName": "promptReader"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "config_extractionPromptPath": "={{ $('compact chunk infos').item.json.config.validationPromptPath }}"
          },
          "matchingColumns": [
            "config_extractionPromptPath"
          ],
          "schema": [
            {
              "id": "config_extractionPromptPath",
              "displayName": "config_extractionPromptPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4144,
        384
      ],
      "name": "Call promptReader validate",
      "id": "61d5cb3a-61fc-49b8-9f5f-7ece4a801abd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Content-Type\": \"application/json\",\n  \"x-api-key\": \"{{ $('compact chunk infos').item.json.config.anthropic.key }}\",\n  \"anthropic-version\": \"2023-06-01\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $('compact chunk infos').item.json.config.anthropic.model }}\",\n  \"max_tokens\": {{ $('compact chunk infos').item.json.config.anthropic.maxTokens }},\n  \"temperature\": {{ $('compact chunk infos').item.json.config.anthropic.temperature }},\n  \"system\": {{ $json.data }},\n  \"messages\": [{        \n    \"role\": \"user\",\n    \"content\": [{\n      \"type\": \"document\",\n      \"source\": {\n        \"type\": \"base64\",\n        \"media_type\": \"application/pdf\",\n        \"data\": \"{{ $('compact chunk infos').item.json.pdf.binary.data.data }}\"\n      }\n    }]\n  }]\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "96d7012c-4fe5-42e4-ba64-7d7ca0d8f4e8",
      "name": "Call Claude Extracting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Content-Type\": \"application/json\",\n  \"x-api-key\": \"{{ $('compact chunk infos').item.json.config.anthropic.key }}\",\n  \"anthropic-version\": \"2023-06-01\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $('compact chunk infos').item.json.config.anthropic.model }}\",\n  \"max_tokens\": {{ $('compact chunk infos').item.json.config.anthropic.maxTokens }},\n  \"temperature\": {{ $('compact chunk infos').item.json.config.anthropic.temperature }},\n  \"system\": {{ $json.data }},\n  \"messages\": [{        \n    \"role\": \"user\",\n    \"content\": [\n      {\n        \"type\": \"document\",\n        \"source\": {\n          \"type\": \"base64\",\n          \"media_type\": \"application/pdf\",\n          \"data\": \"{{ $('compact chunk infos').item.json.pdf.binary.data.data }}\"\n        }\n      },\n      {\n        \"type\": \"text\",\n        \"text\": {{ $('stringified json').item.json.data}}\n      }\n    ]\n  }],\n  \"thinking\": {\n    \"type\": \"enabled\",\n    \"budget_tokens\": 16000\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a7dea97a-036e-4967-9b39-9c6564c981bc",
      "name": "Call Claude Validating",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4368,
        384
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"status\": \"llm_error\",\n  \"message\": \"LLM 2 response status code is not 200. Message: {{$data.statusMessage}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4816,
        608
      ],
      "id": "809d0883-3eb6-4432-99cf-4d448cd0aef0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        5024,
        608
      ],
      "id": "0b2956d4-09a2-40cd-8ce8-f52e89a452e7",
      "name": "llm2 error to json"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('compact chunk infos').item.json.pdf.binary.data.directory }}/{{ $('compact chunk infos').item.json.pdf.binary.data.fileName }}.error.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        5232,
        608
      ],
      "id": "dc059d03-f662-4333-acd3-1af10bdbab80",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('compact chunk infos').item.json.pdf.binary.data.directory }}/{{ $('compact chunk infos').item.json.pdf.binary.data.fileName }}.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        5424,
        384
      ],
      "id": "d385bd55-4458-4cac-a1bf-cf35f3cfaf0a",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "jsCode": "const response = JSON.parse($input.first().json.data);\nconst result = response?.content || []\n\n/**\n * extract the json from the response text if the llm has desided to write more the nonly the json...\n * \n * @param {string} str \n * @returns {string|null}\n */\nfunction extractJson(str) {\n  const match = str.match(/{[\\s\\S]*}/);\n  if (match) {\n    try {\n      return JSON.parse(match[0]);\n    } catch (e) {\n      return null; // Invalid JSON\n    }\n  }\n  return null; // No JSON found\n}\n\n// first is thinking text, secound is response text\nconst json = extractJson(result[1]?.text || \"\")\n\nif (!json) {\n  return {data: {status:\"failed\", message: \"LLM 2 response is incorrect\"}, original: result[1]?.text, thinking: result[0]?.text};\n}\n\nreturn {data: json, original: result[1]?.text};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4816,
        384
      ],
      "id": "f1468228-594a-40bb-9dfc-8d2bdd5d25c0",
      "name": "parse response validation"
    },
    {
      "parameters": {
        "jsCode": "const response = JSON.parse($input.first().json.data);\nconst result = response?.content || []\n\n/**\n * extract the json from the response text if the llm has desided to write more the nonly the json...\n * \n * @param {string} str \n * @returns {string|null}\n */\nfunction extractJson(str) {\n  const match = str.match(/{[\\s\\S]*}/);\n  if (match) {\n    try {\n      return JSON.parse(match[0]);\n    } catch (e) {\n      return null; // Invalid JSON\n    }\n  }\n  return null; // No JSON found\n}\n\n// first is awnser text. if thinking is enables, then secound is awnser.\nconst json = extractJson(result[0]?.text)\n\nif (!json) {\n  return {data: {status:\"failed\", message: \"LLM 1 response is incorrect\"}, original: result[0]?.text};\n}\n\nreturn {data: json, original: result[0]?.text};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2768,
        384
      ],
      "id": "5ad92be3-4ff5-4223-8e01-444727fc024a",
      "name": "parse response extraction"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"status\": \"success\",\n  \"extraction\": {{ $('parse response extraction').item.json }},\n  \"validation\": {{ $json }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5024,
        384
      ],
      "id": "eaf43675-0454-499e-a36e-1b0dbff9f67e",
      "name": "create success json"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        5232,
        384
      ],
      "id": "f412e48b-6aea-441f-b0cf-07a2abec4316",
      "name": "success json to binary"
    },
    {
      "parameters": {
        "jsCode": "return {data: JSON.stringify(JSON.stringify($('parse response extraction').first().json.data))}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        384
      ],
      "id": "c53b74ba-53e0-4edf-a1ee-adc76f6030cd",
      "name": "stringified json"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8166e81f-065f-4c2a-9600-1c2d27b8d51a",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2528,
        384
      ],
      "id": "f3cd4a60-8ab6-4846-8fa2-e5b28f389a2c",
      "name": "If code 200"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e4a4e48e-6e20-4ecd-8416-547697d55afe",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "found",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2976,
        384
      ],
      "id": "f5323a36-c8e2-4fdc-9541-b8aab3382308",
      "name": "If status found"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8166e81f-065f-4c2a-9600-1c2d27b8d51a",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4576,
        384
      ],
      "id": "a7c64c59-f500-4d14-8d73-0fd1e2c3d3ea",
      "name": "If2 code 200"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('create success json').item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5664,
        656
      ],
      "id": "aa0f79ad-9a4b-4db6-8ff3-3507aa6156b4",
      "name": "return json content seccess"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('Edit Fields1').item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5424,
        608
      ],
      "id": "034cdf13-71be-4246-ba47-9cfbdc7c8688",
      "name": "return llm2 error json"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('unify fields').item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3856,
        560
      ],
      "id": "cae8ce54-240e-453d-93a3-0d19c60c1234",
      "name": "return llm1 error json"
    },
    {
      "parameters": {
        "command": "=curl -H \"Content-Type: application/json\" -d '{\"username\": \"n8n_csh_workflow\", \"content\": \"Executed Workflow finished. Generated compacted JSON file for directory {{$('Call configReader1').item.json.data.pdfsDir}} \"}' \"{{$('Call configReader1').item.json.data.discord.webhookUrl}}\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2320,
        64
      ],
      "id": "f637f40b-da7f-404b-b433-62c2f26e3eb2",
      "name": "send discord msg"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MBU788enjpjn17oX",
          "mode": "list",
          "cachedResultName": "configReader"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1872,
        208
      ],
      "name": "Call configReader1",
      "id": "e22fd851-6db5-4e00-84d2-cededba1911e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "db62c723-e6a3-4eac-9143-f2d76d5843f1",
              "leftValue": "={{ $('Call configReader1').item.json.data.discord.enabled }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2096,
        208
      ],
      "id": "c91d8445-c42a-49b1-92ac-6ae90edf2ef4",
      "name": "if Discord enabled"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MBU788enjpjn17oX",
          "mode": "list",
          "cachedResultName": "configReader"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        720,
        384
      ],
      "name": "Call configReader",
      "id": "1a42f63a-f714-4ab4-9e07-bb301ad5a6b1"
    },
    {
      "parameters": {
        "fileSelector": "=/io/{{ $json.data.pdfsDir }}/*.pdf",
        "options": {
          "fileExtension": "pdf"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        928,
        384
      ],
      "id": "99119954-6f33-4514-8317-2a576d118dff",
      "name": "Read PDFs from Dir"
    },
    {
      "parameters": {
        "jsCode": "return {config: $('Call configReader').first().json.data, pdf: $input.first().json}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        384
      ],
      "id": "994c0002-88ea-4991-81ad-0abf2f2ac7fd",
      "name": "compact config",
      "notes": "this is needed, because the next steps cant access only the loop pdf data ..."
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3200,
        560
      ],
      "id": "22f05fed-4ff2-4480-8636-7d027cf504f4",
      "name": "unify fields"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        512,
        384
      ],
      "id": "bfc795aa-b2ee-440c-b79f-e8717a18a544",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Loop Over chunks": {
      "main": [
        [
          {
            "node": "Call configReader1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "compact chunk infos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read chunks": {
      "main": [
        [
          {
            "node": "Loop Over chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compact chunk infos": {
      "main": [
        [
          {
            "node": "Call promptReader extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call promptReader extract": {
      "main": [
        [
          {
            "node": "Call Claude Extracting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "unify fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "llm1 error to json": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "return llm1 error json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call promptReader validate": {
      "main": [
        [
          {
            "node": "Call Claude Validating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude Extracting": {
      "main": [
        [
          {
            "node": "If code 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude Validating": {
      "main": [
        [
          {
            "node": "If2 code 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "llm2 error to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "llm2 error to json": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "return llm2 error json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "return json content seccess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse response validation": {
      "main": [
        [
          {
            "node": "create success json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse response extraction": {
      "main": [
        [
          {
            "node": "If status found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create success json": {
      "main": [
        [
          {
            "node": "success json to binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "success json to binary": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stringified json": {
      "main": [
        [
          {
            "node": "Call promptReader validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If code 200": {
      "main": [
        [
          {
            "node": "parse response extraction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If status found": {
      "main": [
        [
          {
            "node": "stringified json",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "unify fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2 code 200": {
      "main": [
        [
          {
            "node": "parse response validation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return json content seccess": {
      "main": [
        [
          {
            "node": "Loop Over chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return llm2 error json": {
      "main": [
        [
          {
            "node": "Loop Over chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return llm1 error json": {
      "main": [
        [
          {
            "node": "Loop Over chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call configReader1": {
      "main": [
        [
          {
            "node": "if Discord enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if Discord enabled": {
      "main": [
        [
          {
            "node": "send discord msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call configReader": {
      "main": [
        [
          {
            "node": "Read PDFs from Dir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PDFs from Dir": {
      "main": [
        [
          {
            "node": "compact config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compact config": {
      "main": [
        [
          {
            "node": "Read chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unify fields": {
      "main": [
        [
          {
            "node": "llm1 error to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Call configReader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "24b04939-41ba-4b80-8534-f79e081d7343",
  "triggerCount": 0,
  "tags": []
}