poc/n8n/n8n_workflows/M2zWhVESL1ZDTX4O.json
{
  "createdAt": "2025-07-05T13:21:12.032Z",
  "updatedAt": "2025-07-05T14:45:23.000Z",
  "id": "M2zWhVESL1ZDTX4O",
  "name": "read-llm-write",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        240
      ],
      "id": "48c8a44c-3160-49ef-a53a-1fa23af9e15a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "=/io/in/*",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        0,
        240
      ],
      "id": "5363b73d-2515-499a-8062-9812ad694ddc",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/io/out/{{ $('Read/Write Files from Disk').item.json.fileName }}.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1040,
        320
      ],
      "id": "44be9536-3a32-4765-99f5-c77135c97cd3",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "body.content[0].text",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        840,
        320
      ],
      "id": "9c580225-ce9a-45e9-b4ce-646b35f4abec",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        400,
        320
      ],
      "id": "aab9c297-4ea5-4b82-829c-6d321b1556f9",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Extract from File1').item.json.config.anthropic }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"claude-sonnet-4-20250514\",\n    \"max_tokens\": 20000,\n    \"temperature\": 1,\n    \"messages\": [{\n        \"role\": \"user\",\n        \"content\": [{\n            \"type\": \"document\",\n            \"source\": {\n                \"type\": \"base64\",\n                \"media_type\": \"application/pdf\",\n                \"data\": \"{{ $json.data }}\"\n            }\n        },\n        {\n            \"type\": \"text\",\n            \"text\": \"Extract a table of content from the document. use markdown to outpu tthe table of content. return only the tabel of content.\"\n        }]\n    }]\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "0de7c5dd-e188-41fa-8a14-35687895a4bb",
      "name": "Call Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        320
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        700,
        1220
      ],
      "id": "9696700a-d042-4801-b23d-75afb5571d98",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "zOFEQYGFJ8jhjrM2",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/io/config/credentials.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -340,
        240
      ],
      "id": "9e4c416c-92dd-4aac-be8b-0d80dfbc6d58",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "config",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -180,
        240
      ],
      "id": "f78c9e42-b419-457b-92e2-99595705a114",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        200,
        240
      ],
      "id": "1e804b6b-18e3-420e-98a2-acc70118d2ee",
      "name": "Loop Over Items"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Call Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "15f399f7-5f77-4aee-8ca2-62c7a2268db2",
  "triggerCount": 0,
  "tags": []
}