poc/n8n/n8n_workflows/MBU788enjpjn17oX.json
{
  "createdAt": "2025-07-08T19:17:49.055Z",
  "updatedAt": "2025-07-08T19:17:49.055Z",
  "id": "MBU788enjpjn17oX",
  "name": "configReader",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "info": "",
        "operation": "read",
        "fileSelector": "/io/config/credentials.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -60,
        20
      ],
      "id": "899230f4-112d-4099-b063-2c5ab0e06cdb",
      "name": "Read/Write Files from Disk2",
      "disabled": false
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "data",
        "destinationKey": "config",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        100,
        20
      ],
      "id": "9771b2aa-da30-485d-9999-038cfbd7aa74",
      "name": "Extract from File1",
      "disabled": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4430bd7-9bb1-4473-9da6-f3f0bbfd7e61",
              "name": "config_anthropic",
              "value": "={{ $('Extract from File1').item.json.config.anthropic }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        20
      ],
      "id": "2ad7434d-f2c0-45b1-8075-2d586a4ad479",
      "name": "Return"
    },
    {
      "id": "b4a097c5-4228-4121-80f5-f7310d1f8039",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -280,
        20
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    }
  ],
  "connections": {
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "e04f61b5-534d-4f95-a03d-83b666583eec",
  "triggerCount": 0,
  "tags": []
}