poc/n8n/n8n_workflows/YFVaL0WCc0qoW8Nn.json
{
  "createdAt": "2025-07-08T19:16:24.364Z",
  "updatedAt": "2025-07-09T22:11:23.000Z",
  "id": "YFVaL0WCc0qoW8Nn",
  "name": "AllPdfToJson",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MBU788enjpjn17oX",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        60,
        20
      ],
      "name": "Call configReader",
      "id": "969f6a6d-3571-40ad-aa1c-2ee1d1d622ff"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        580,
        20
      ],
      "id": "ccd4e84c-944d-4fbf-afc8-943dd8a6dd40",
      "name": "Loop over PDFs"
    },
    {
      "parameters": {
        "fileSelector": "=/io/{{ $json.data.pdfsDir }}/*",
        "options": {
          "fileExtension": "pdf"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        300,
        20
      ],
      "id": "6ae7a238-0037-4dd7-a073-4501049edf42",
      "name": "Read PDFs from Dir"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        820,
        280
      ],
      "id": "a5d663d3-622a-4a6e-8141-385d3ba8192e",
      "name": "Loop Over chunks"
    },
    {
      "parameters": {
        "fileSelector": "=/io/{{ $('compact pdf infos').item.json.config.pdfsDir }}/{{ $('compact pdf infos').item.json.pdf.fileName }}_chunked/*",
        "options": {
          "fileExtension": "pdf"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        560,
        280
      ],
      "id": "2f687cd8-62ed-4d3a-a007-4523b5005d38",
      "name": "Read chunks"
    },
    {
      "parameters": {
        "command": "=python --version && pip --version && pip list &&\\\ncd /io &&\\\nsource exec-chunker.sh --file=\"./{{ $json.config.pdfsDir }}/{{ $json.pdf.fileName }}\" "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        340,
        280
      ],
      "id": "ae1d4856-bf20-4bee-87c2-e19a40265bbf",
      "name": "Execute chunker"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        20
      ],
      "id": "bf7fce55-9c10-4f48-b6fd-cd486a9b6a4e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return {config: $('Call configReader').first().json.data, pdf: $input.first()}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        380
      ],
      "id": "22a61425-f74b-432f-abd0-7961550e71b4",
      "name": "compact chunk infos",
      "notes": "this is needed, because the next steps cant access only the loop pdf data ..."
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1540,
        180
      ],
      "id": "817527a9-0469-416f-92ad-0c0014c9f3d7",
      "name": "Aggregate JSON chunks"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('compact chunk infos').item.json.config.anthropic.key }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"{{ $('compact chunk infos').item.json.config.anthropic.model }}\",\n    \"max_tokens\": {{ $('compact chunk infos').item.json.config.anthropic.maxTokens }},\n    \"temperature\": {{ $('compact chunk infos').item.json.config.anthropic.temperature }},\n    \"thinking\": {\n        \"type\": \"{{ $('compact chunk infos').item.json.config.anthropic.thinking.type }}\",\n        \"budget_tokens\": {{ $('compact chunk infos').item.json.config.anthropic.thinking.budget_tokens }}\n    },\n    \"messages\": [{\n        \"role\": \"user\",\n        \"content\": [{\n            \"type\": \"document\",\n            \"source\": {\n                \"type\": \"base64\",\n                \"media_type\": \"application/pdf\",\n                \"data\": \"{{ $('compact chunk infos').item.json.pdf.binary.data.data }}\"\n            }\n        },\n        {\n            \"type\": \"text\",\n            \"text\": {{ $json.data }}\n        }]\n    }]\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ee46289d-4bd4-4f6d-9aa7-b91a036eda5c",
      "name": "Call Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "return {config: $('Call configReader').first().json.data, pdf: $input.first().json}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        280
      ],
      "id": "171448d4-e35a-42d1-803f-08235784e08b",
      "name": "compact pdf infos",
      "notes": "this is needed, because the next steps cant access only the loop pdf data ..."
    },
    {
      "parameters": {
        "fileSelector": "=/io/{{ $json.config.extractionPromptPath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1280,
        380
      ],
      "id": "a2b5a38b-8fd9-4e83-b49b-75c596ddc46d",
      "name": "read extraction prompt"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1500,
        380
      ],
      "id": "efc28b0a-6485-4d5a-b5d9-674d90f464a1",
      "name": "Extract from File"
    }
  ],
  "connections": {
    "Call configReader": {
      "main": [
        [
          {
            "node": "Read PDFs from Dir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over PDFs": {
      "main": [
        [],
        [
          {
            "node": "compact pdf infos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PDFs from Dir": {
      "main": [
        [
          {
            "node": "Loop over PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over chunks": {
      "main": [
        [
          {
            "node": "Aggregate JSON chunks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "compact chunk infos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read chunks": {
      "main": [
        [
          {
            "node": "Loop Over chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute chunker": {
      "main": [
        [
          {
            "node": "Read chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Call configReader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compact chunk infos": {
      "main": [
        [
          {
            "node": "read extraction prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compact pdf infos": {
      "main": [
        [
          {
            "node": "Execute chunker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read extraction prompt": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Call Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "18a853b8-290d-410b-a568-d6550895a8c6",
  "triggerCount": 0,
  "tags": []
}